<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>GUARD-FORCE-ALARM</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>mail_push_app</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(FLUTTER_BUILD_NAME)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLTypes</key>
		<array>
			<!-- Google Sign-In용 -->
			<dict>
				 <key>CFBundleURLName</key>
			    <string>com.secure.mailpushapp</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.896564723347-ooift0gpd2idsgmllnoll75gjju646ai</string>
				</array>
			</dict>
			<!-- Outlook 용 -->
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>mailapp</string>
				</array>
			</dict>

			<!-- Apple Sign-In용 (일반적으로는 생략 가능하지만, 원할 경우 추가 가능) -->
			<dict>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.secure.mailPushApp</string> <!-- 실제 앱의 Bundle ID -->
				</array>
			</dict>
		</array>

		<key>CFBundleVersion</key>
		<string>$(FLUTTER_BUILD_NUMBER)</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<false/>
		<key>GIDClientID</key>
		<string>896564723347-ooift0gpd2idsgmllnoll75gjju646ai.apps.googleusercontent.com</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIBackgroundModes</key>
		<array>
			<string>audio</string>
			<string>fetch</string>
			<string>processing</string>
			<string>remote-notification</string>
		</array>
		<key>BGTaskSchedulerPermittedIdentifiers</key>
		<array>
			<string>com.secure.mailPushApp.refresh</string>
		</array>
		<key>NSMicrophoneUsageDescription</key>
		<string>This app requires microphone access to record audio.</string>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
